/* src/pages/CoursesPage.css */

@import '../styles/Shared.css'; /* <<< IMPORTANTE: Importamos los estilos compartidos */

.courses-container {
  font-family: 'Lato', sans-serif;
  color: #653d27;
}

.courses-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

.courses-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: start;
}

.full-width {
  grid-column: 1 / -1; /* Ocupa todo el ancho */
}